[Unit]
Description=AnarchySRV-Bot
After=network.target

[Service]
Type=simple
Restart=always
User=mushu
ExecStart=/home/mushu/haste-server/start.sh

[Install]
WantedBy=multi-user.target
